/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login_title_rosie{

}

.login_div {
  float: left;
  width: 30%;
    border-color:black;
  border-style:solid;
  border-width: thin;

}

.title_rosie {
  float: left;
  text-align:center;
    border-color:black;
  border-style:solid;
  border-width: thin;
}

.hero_volunteer_div {

}

.hero_div {
  float:left;
  width:49.5%;
  border-color:black;
  border-style:solid;
  border-width: thin;
  text-align:center;
}

.volunteer_div{
  float:left;
  width:49.5%;
  border-color:black;
  border-style:solid;
  border-width: thin;
  text-align:center;
}

/*.hero_div {
  float: left;
  width: 50%;
  text-align:center;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.hero_div_box{
  border-color:black;
    border-style:solid;
}

 .volunteer_div {
  float: left;
  width: 50%;
  text-align:center;
  margin-right: -1px;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.volunteer_div_box{
  border-color:black;
    border-style:solid;
}
*/



 .search_our_db_div {
  text-align:center;
 }

 .app_title {
  text-align:center;
  font-size-adjust:1;
 }



  .results {
    display: flex; /* equal height of the children */
    flex-wrap: wrap;
    list-style: none;
    flex-basis: 0 0 31.96%;
  }  

  .one_result {
    background-color:lightblue;
    padding-left: 20px;
    padding-top:15px;
    padding-bottom:15px;
    margin: 0 auto;
    list-style: none;
    flex-basis:0 0 31.96%;
    width:31.96%;
    border-style:solid;
    border-color:black;
  }  
  
/*  .rosie_div {
    float:right;
    margin:6px;
    text-align:center;
  }*/

  .disclaimer {
   width:40%;
   position: fixed;
   bottom: 0;
   left: 0;
   border-color:black;
   border-style:solid;
   margin-bottom: 2%;
   margin-left: 2%;
}

  #search-results-append {  
  
  }  

  .register_page {
    border-color:black;
    border-style:solid;
  }

  .container {
    overflow: hidden;
    width: 100%;
  }  

  .everyone_div{
  }

.index_search_top_bar {
  padding-top:20px;
  padding-left:20px;
  border-color:black;
  border-style:solid;  
}